{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col-md-8 mt-3 mx-auto text-center">

      <h1>{% trans "Sign Up" %}</h1>

      <p>{% blocktrans %}We are glad that you are creating an account. Create an account using the form below to explore
        books and opinions shared by others. If you already have an account? Then please <a href="{{ login_url }}">sign
          in</a>.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 mx-auto">
      <form class="signup mt-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-account mb-5" type="submit">{% trans "Sign Up" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
