@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Tangerine:wght@700&family=Work+Sans:wght@300&display=swap');

/* Genral Styles */
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Work sans, sans-serif;

}

a {
  text-decoration: none;
  color: #000000
}

.btn-back {
  display: flex;
  width: 5%;
}

.msg-alert {
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  width: 100%;
}

.hide {
  display: none;
}

.form-sent {
  z-index: 1;
  position: absolute;
  width: 100%;
}

/* Home Page */
.navbar {
  background-color: beige;
}

header a {
  font-family: Hind Siliguri, sans-serif;
}

.main-page {
  position: relative;
}

.welcome-text {
  font-family: Tangerine, sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.welcome-section {
  background-color: yellowgreen;
}


.page-link {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 20%;
}

.nav-item {
  list-style-type: none;
  margin-right: 2px;
}


.account-opt {
  margin-right: 4.5rem;
}


.add-review-btn {
  background-color: #B8E95C;
  font-size: 23px;
  padding: 15px;
  text-align: center;
  border-radius: 50px;
  margin-left: 7rem;
}

/* Login/Signup form styles */
.login input {
  border: 1px solid #000000;
  text-decoration: none;
}

.signup input {
  border: 1px solid #000000;
  text-align: center;
  margin: 0 auto;
  display: inline-block;

}

.btn-account {
  background-color: #B8E95C;
}

/* Book Information Page */
.book-image {
  width: 80%;
}

.read-btn {
  background: transparent;
  display: inline-block;
}

.delete-btn {
  border: 1px solid #000000;
  border-radius: 20px;
}

.edit-btn {
  border: 1px solid #000000;
  border-radius: 20px;
  margin-right: 1rem;
}

.btn-del {
  background-color: #B8E95C;
  margin-bottom: 2rem;
  display: block;
  padding: 12px;
  width: 50%;
}

.review-form {
  display: display;
  margin: 0 auto;
}

.review-submit {
  background-color: #B8E95C;
}

.edit-review label {
  display: block;
  margin-bottom: 1rem;
}

.edit-review textarea {
  border: 1px solid #000000;
}

/* Add Book */
#add-book-form {
  margin-left: 2.5rem;
  width: 75%;
  margin: 0 auto;
  overflow-x: hidden;
}

#add-book-form label {
  margin-top: 1.5rem;
}

.btn-add-book {
  background-color: #B8E95C;
  display: flex;
  /* margin: 0 auto; */
  padding: 15px;
  border-radius: 50px;
}

/* Contact Form */
#contact-form {
  margin-left: 2.5rem;
}

#contact-form input {
  width: 70%;
  border: 1px solid #000000;
  display: block;
  padding: 6px;
}

#contact-form label {
  margin-top: 2rem;
  display: block;
}

#contact-form textarea {
  border: 1px solid #000000;
  width: 80%;
  height: 30vh;
}

.btn-contact {
  display: block;
  background-color: #B8E95C;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* Books Style For Genre */
.card-image {
  height: 30vh;
  object-fit: cover;
}

.card-books {
  height: 50vh;
  border: 1px solid #000000;
  margin: 9px;
}

/* Error page(s) */
.heading {
  font-size: 12rem;
}

.error-content {
  margin: 15px auto;
  text-align: center;
  background-color: #B8E95C;
  border: 1px solid #000000;
}

.error-img {
  height: 27vh;
  margin: 7px auto;
}

.error-content a {
  text-decoration: underline;
}

/*Footer*/
footer {
  height: 150px;
  background-color: #000000;
  width: 100%;
}

footer p {
  color: #f5f5f5;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 auto;
}

#social-links i:hover {
  transform: scale(0.9);
  transition: 50ms;
  color: yellowgreen;
}


#social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: max-content;
  margin: 0 auto;
  padding: 5px 10px;
}

#social-links i {
  font-size: 23px;
  margin: 1%;
  color: #f5f5f5;
  padding: 5px 10px;
}

@media (max-width: 380px) {
  .signup input {
    font-size: 19px;
    display: flex;
  }
}

@media (max-width:330px) {
  .text-date {
    font-size: 12px;
  }
}