{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container text-center error-content">
    <h1 class="fw-bolder font-monospace mt-4 heading">404</h1>
    <div class="row text-center">
        <div class="col-lg-12">
            <img src="{% static 'images/question-mark-404' %}" alt="Question mark to show page does not exist.">
        </div>
        <div class="col-lg-12">
            <h4>The page you are looking for does not exist.</h4>
            <h4><a href="{% url 'home' %}">Click here</a> to go back to the main page.</h4>
        </div>
    </div>
</div>
{% endblock %}