{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container error-content text-center">
    <h1 class="fw-bolder font-monospace mt-5 heading">500</h1>
    <div class="row">
        <div class="col-lg-12">
            <img src="{% static 'images/question-mark-404' %}" alt="Question mark to show page does not exist.">
        </div>
        <div class="col-lg-12">
            <h3>Your request could not be processed because there is an issue on the server side. Please try again
                later.</h3>
            <h3><a href="{% url 'home' %}">Click here</a> to go back to the main page.</h3>
        </div>
    </div>
</div>
{% endblock %}