{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1>{{ genre_items.genre|title }} Books</h1>
        </div>
    </div>
    <div class="row">
        {% for book in genre_items.books %}
        <div class="col-md-3">
            <a href="{% url 'book-info' book.slug%}">
            <div class="card card-books">
                {% if "Placeholder" in book.image.url %}
                <img class="card-image" src="{% static 'images/placeholder.avif' %}" width="100%">
                {% else %}
                <img class="card-image" src="{{ book.image.url }}" width="100%">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{book.name}}</h5>
                  <p class="card-text">{{book.author}}</p>
                </div>
              </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}

    </div>

</div>
{% endblock %}