{% extends "base.html" %}
{% load static %}


{% block content %}
{% load crispy_forms_tags %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 masthead-text">
                <h1 class="post-title text-center mt-3">{{ book.name }}</h1>
                <p class="post-subtitle text-center">-{{ book.author }}</p>
                <p class="post-subtitle text-center">Uploaded By: {{ book.uploaded_by }}</p>
            </div>
            <div class="container-fluid pt-md-4">
                <div class="row mb-4">
                    <div class="col-md-5">
                        {% if "Placeholder" in book.image.url %}
                        <img src="{% static 'images/placeholder.avif' %}" class="img-fluid mb-3 book-image">
                        {% else %}
                        <img src=" {{ book.image.url }}" width="80%" class="img-fluid mb-3 book-image">
                        {% endif %}
                    </div>
                    <div class="col-md-5 pt-md-4">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <h3 class="pt-xs-4">Blurb</h3>
                                {{ book.blurb | linebreaks }}
                                <h3>Ratings: </h3>
                                <div class="col-6 mt-3">
                                    <p class="read-btn">Read By:  </p>
                                    <strong>
                                        {% if user.is_authenticated %}
                                        <form action="{% url 'book_liked' book.slug %}" class="read-btn" method="POST">
                                            {% csrf_token %}
                                            {% if liked %}
                                            <button type="submit" value="{{book.slug}}" class="read-btn"><i
                                                    class="fa-solid fa-book"></i></button>
                                            {% else %}
                                            <button type="submit" value="{{book.slug}}" class="read-btn"><i
                                                    class="fa-solid fa-book-open"></i></button>
                                            {% endif %}
                                        </form>
                                        {% else %}
                                        <span class="text-secondary"><i class="fa-solid fa-book-open"></i></span>
                                        {% endif %}
                                        <span class="text-secondary">{{ book.number_of_likes }} </span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-center mb-5">Reviews:</h3>
            {% for review in reviews %}
            <div class="col-md-8 card mb-4 mt-3 review-form">
                <div class="card-body fst-italic">
                    <div>
                        {{ review.details | linebreaks }}
                        <p>
                            -{{ review.username }}
                        </p>
                        <p class="text-muted">
                            Uploaded on: {{ review.created_on }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-4">
                    <h5>What do you think, {{user.username}}?</h5>
                    <form method="post">
                        {{ review_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="mt-3 mb-3 btn btn-md review-submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}