{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container text-center contact-page">
    <div class="row">
        <div class="col-md-12">
            <div>
                <!-- Message code for form submission -->
                <div class="alert alert-dismissible fade in show msg-alert text-center form-sent hide alert-success"
                    id="contact-msg" role="alert">
                    Message received! We will try to get back to you as soon as possible.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close notification"></button>
                </div>
                <h1>Contact Us</h1>
                <h6>If you have suggestions or queries about the website, reach out using the form below.</h6>
            </div>
        </div>
    </div>
</div>
<!-- Contact form -->
<div>
    <form method="POST" id="contact-form">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input id="name" type="text" name="from_name" required>
        <label for="email">Email:</label>
        <input id="email" type="email" name="from_email" required>
        <label for="question">Please write your questions/queries below</label>
        <textarea name="message" id="question" placeholder=" Write your comment here" required></textarea>
        <button type="submit" class="btn btn-contact" aria-label="Submit contact form">Submit</button>
    </form>
</div>

{% endblock %}