{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="welcome-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-center welcome-text mt-5">Welcome to the Open Book Review</h1>
        <h2 class="page-subtitle">
          Here you can explore reviews for books others have read or add your own.
        </h2>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <img src="{% static 'images/hero_image.jpeg' %}" class="img-fluid" alt="A Bookshelf full of books.">
      </div>
    </div>
  </div>
</section>

{% if user.is_authenticated %}
<section id="add-book">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6">
        <h3>Welcome back {{user.username | title}}!</h3>
        <h4>We missed you.</h4>
      </div>
      <div class="col-lg-6">
        <span>
          <a href="{% url 'add-book' %}">
          <button type="button" class="btn btn-lg add-review-btn">Add a Review</button>
        </a>
        </span>
      </div>
    </div>
  </div>
</section>
<hr>
{% endif %}

<section id="genre-list">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center mt-5">Explore books from the following genres.</h2>
      </div>
      <div class="col-12 mt-3 left">
        <div class="row">
          {% for genre in genre_list %}
          <div class="col-xl-4">
            <a href="{% url 'books' genre=genre.slug %}">
              <div class="card mb-4">
                <div class="card-body">
                  <h2 class="card-title">{{ genre.name }}</h2>
                  <hr />
                  <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/genre_image.jpeg' %}">
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}#genre-list" class=" page-link">&#8592; Prev </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}#genre-list" class=" page-link"> Next &#8594;</a></li>

        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
</section>

{% endblock %}